<div class="piano">
  <div class="white-keys">
    <div class="key white-key" (mousedown)="playNote('C')"></div>
    <div class="key white-key" (mousedown)="playNote('D')"></div>
    <div class="key white-key" (mousedown)="playNote('E')"></div>
    <div class="key white-key" (mousedown)="playNote('F')"></div>
    <div class="key white-key" (mousedown)="playNote('G')"></div>
    <div class="key white-key" (mousedown)="playNote('A')"></div>
    <div class="key white-key" (mousedown)="playNote('B')"></div>
  </div>
  <div class="black-keys">
    <div class="key black-key" (mousedown)="playNote('C#')"></div>
    <div class="key black-key" (mousedown)="playNote('D#')"></div>
    <div class="key black-key" (mousedown)="playNote('F#')"></div>
    <div class="key black-key" (mousedown)="playNote('G#')"></div>
    <div class="key black-key" (mousedown)="playNote('A#')"></div>
  </div>
</div>
